<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Golden Eagle</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

 {% extends 'base.html' %}

 
 {% block content %}
    

    


    {% comment %} {% include 'header.html' %} {% endcomment %}

    {% comment %} <header>
        <h1>About Us</h1>
        <nav>
            <a href="/">Home</a>
            <a href="about-us/">About Us</a>
            <a href="contact-us/">Contact Us</a>
        </nav>
    </header> {% endcomment %}

    <main>
        <p><b>Golden Eagle IT Technology Pvt Ltd is a software company providing services and is a top-leading IT company.</b></p>
    </main>

    {% endblock  %}


{% comment %} {% include "footer.html" %} {% endcomment %}
</body>
</html>
